<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="td-list">
    <div class="td-body">
        <h1 class="td-title">TODOLIST</h1>
        <div class="grid">
            <form action="" method="get" class="search">
                <div class="form__field">
                    <input type="text" placeholder="what needs to be done?" class="form__input">
                    <button type="submit" class="searchButton"><i class="fa fa-plus plus-color"></i></button>
                    <p>M</p>
                    <p>M</p>
                    <button type="submit" class="remove">Remove checked X</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>